<div class='row container-fluid'>
  <div class="card simple-calendar container-fluid bg-dark text-white pt-3 col-sm-9">
    <%= javascript_include_tag "calendar_gen_timeslice" %>
    <div class="calendar-heading">
      <%= link_to t('simple_calendar.previous', default: 'Previous'), calendar.url_for_previous_view %>
      <%= link_to t('simple_calendar.next', default: 'Next'), calendar.url_for_next_view %>

    </div>

    <table class="table table-striped table-dark table-hover mw-350" id='slot-cal'>
      <thead>
        <tr>
          <% date_range.slice(0, 7).each do |day| %>
            <th><%= t('date.abbr_day_names')[day.wday] %></th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% date_range.each_slice(7) do |week| %>
          <tr>
            <% week.each do |day| %>
              <%= content_tag :td, class: 'slot-day', 'data-coach-id': current_user.id do %>
                <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(passed_block) %>
                  <% capture_haml(day, sorted_events.fetch(day, []), &passed_block) %>
                <% else %>
                  <% passed_block.call day, sorted_events.fetch(day, []) %>
                <% end %>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class='card booking-window container-fluid pt-3 bg-dark text-white col-sm-3' id='booking-window'>
    <table id='booking-table' class=' table-dark table-hover'>
    </table>
  </div>

</div>
